.gamepage {
  display: flex;
  align-content: center;
  margin-inline: auto;
  flex-direction: column;
  max-width: 1000px;
}
.grid {
  background: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 60%;
  margin: auto;
  margin-top: 100px;
  border: 3px solid white;
  border-radius: 10px;
}

.squer {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid white;
  height: 120px;
}

.buttonscontainer {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: 50px;
}

.mode2buttons {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  width: 20%;
  max-width: 120px;
}

.mode2buttons:hover {
  color: darkred;
  border: 1px solid darkred;
  cursor: pointer;
}

.svg {
  position: absolute;
  width: 100%;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.timer {
  margin-inline: auto;
  z-index: 1001;
  font-size: 30px;
  font-weight: bolder;
  color: black;
  border-radius: 50%;
}

.waitingcontainer {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}
